body {
    background-color:#003366;
}

p {
    color: blueviolet;
}

h1{
    color: red;
    text-transform: capitalize;
}

h2{
    margin:10px 10px 10px 10px; 
}

ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}